@use '../styles/variables' as *;

.chat {
  padding: $spacing-xl 0;

  .chat-hero {
    text-align: center;
    margin-bottom: $spacing-xl;
  }

  .chat-panel {
    display: flex;
    justify-content: center;
  }
}
